
/*Navbar*/
.nav-link{
    font-size: larger;
    font-weight:normal;
    color: black;
}

.nav-link.active {
    color: white !important;
}
.navbar-brand{
    font-weight: bolder;
    font-size:x-large;
}
.nav-item{
    padding:0 10px 0 10px;
    border-radius: 10px;
}

.nav-item.active {
    background-color: black;
}

.nav-link:hover{
    transition: ease-in-out 300ms;
    color: white;
}
.card{
    height: 160px;
}

.table { 
    padding-left: 20px;
    padding-right: 20px;
  }